<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=1280, initial-scale=1" />
  <meta name="color-scheme" content="dark light" />
  <title>{% block title %}Darth Schwader{% endblock %}</title>
  <link rel="stylesheet" href="/static/css/app.css" />
</head>
<body>
  <a class="skip-link" href="#main">Skip to content</a>
  {% block body %}{% endblock %}
  <script src="/static/js/htmx.min.js" defer></script>
  <script src="/static/js/htmx-json-enc.js" defer></script>
</body>
</html>
